body {
    margin: 0;
    font-family: 'JetBrains Mono';
    background-color: #FCFFFD;
    box-sizing: border-box;
}

.color-blue {
    color: #263D67;
}

.color-white {
    color: #f8f8f8;
}

a {
    color: #6693e5;
}

/* Titre */

#title {
    margin-left: 40%;
    transform: translate(-40%);
}

/* Infos */

#infos {
    background-color: #263D67;
    padding: 0.8rem 1.5rem;
}

#infos-uls {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#infos .infos-list li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

svg {
    fill: white;
    height: 1rem;
    vertical-align: top;
    width: 18px;
}

.material-symbols-outlined {
    font-size: 19px;
    vertical-align:middle;
    color: white;
}

#location {
    vertical-align: middle;
}

#langues {
    margin-top: 1rem;
}

/* Parcours */

#experience > div {
    margin-top: 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    width: 85%;
    border-top: 4px solid #263D67;
    margin-top: 2.1rem;
}

.subtitle {
    padding: 0 3rem;
}

.small-separator {
    border-top: 3px solid #FCFFFD;
    width: 2rem;
    margin-top: 1.6rem; 
    display: inline;
}

.exp-infos {
    margin: auto;
    box-sizing: border-box;
    margin-top: 1rem;
    height: auto;
    background-color: #263D67;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem;
    gap: 0.8rem;
}

.formation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.title-infos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#diplomes {
    margin-bottom: 2rem;
}

.scrolling-element {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.other-infos {
    color: #c5d3fe;
}

.dates {
    min-width: 4rem;
}

.skills-title {
    display: flex;
    flex-direction: row;
}

.skills-title .skills-rating:first-child ul {
    padding-left: 0;
}

.skills-rating ul {
    margin-top: 0;
}

@media screen and (max-width: 854px) {
    .exp-infos {
        padding: 0.5rem 1rem;
    }
    
    .formation {
        gap: 1rem;
    }

    .skills-title, #infos-uls {
        flex-direction: column;
    }

    #skills ul {
        padding: 0;
    }
   
    .skills-title .skills-rating:first-child ul {
        margin-bottom: 0;
    }

    .exp-infos .formation:first-child .title-infos {
        margin-top: 1rem;
    }

    #infos ul {
        padding: 0;
    }
    
    #infos {
        padding: 0.2rem 1rem;
    }

    #infos-uls {
        gap: 0;
    }
}