body {
    margin: 0;
    font-family: 'JetBrains Mono';
    background-color: #FCFFFD;
    box-sizing: border-box;
}

.color-blue {
    color: #263D67;
}

.color-white {
    color: #f8f8f8;
}

a {
    color: #6693e5;
}

/* Titre */

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    transform: translate(-25%);
}

#title-wrapper {
    margin-left: 5%;
}

#avatar {
    height: 7rem;
}

/* Infos */

#infos {
    background-color: #263D67;
    padding: 0.8rem 2.5rem;
}

#infos-uls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
}

#infos-uls ul {

    padding-left: 0;
}

#infos .infos-list li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

svg {
    fill: white;
    height: 1rem;
    vertical-align: top;
    width: 18px;
}

.material-symbols-outlined {
    font-size: 19px;
    vertical-align:middle;
    color: white;
}

#location {
    vertical-align: middle;
}

#langues {
    margin-top: 1rem;
}

/* Parcours */

#experience > div {
    margin-top: 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    width: 85%;
    border-top: 4px solid #263D67;
    margin-top: 2.2rem;
}

.subtitle {
    padding: 0 3rem;
}

.small-separator {
    border-top: 3px solid #FCFFFD;
    width: 2rem;
    margin-top: 1.6rem; 
    display: inline;
}

.exp-infos {
    margin: auto;
    box-sizing: border-box;
    margin-top: 1rem;
    height: auto;
    background-color: #263D67;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 4rem;
    gap: 0.8rem;
    max-width: 95%;
    padding-right: 2%;
}

#skills-illu {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 25%;
    height: auto;
    object-fit: contain;
}

#certif-illu {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 9%;
    height: auto;
    object-fit: contain;
}

#learn-illu {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 10%;
    height: auto;
    object-fit: contain;
}

.illu-text {
    display: flex;
    flex-direction: column;
}

.formation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.title-infos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

#skills {
    margin-bottom: 2rem;
}

.scrolling-element {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.other-infos {
    color: #c5d3fe;
}

.dates {
    min-width: 4rem;
}

.skills-title {
    display: flex;
    flex-direction: row;
}

.skills-title .skills-rating:first-child ul {
    padding-left: 0;
}

.skills-rating ul {
    margin-top: 0;
}

#infos-uls ul {
    margin-top: 0;
}

@media screen and (max-width: 854px) {
    .exp-infos {
        padding: 0.5rem 0.8rem;
    }
    
    .formation {
        gap: 0.8rem;
    }

    .skills-title, #infos-uls {
        flex-direction: column;
    }

    #skills ul {
        padding: 0;
    }

    #infos ul {
        padding: 0;
    }
    
    #infos {
        padding: 0.2rem 1rem;
    }

    #infos-uls {
        gap: 0;
    }

    #skills .exp-infos {
        padding-right: 0.1rem;
    }

    .exp-infos .formation:last-child {
        margin-bottom: 1rem;
    }

    #skills .formation:last-child {
        margin-bottom: 0;
    }

    .skills-title ul:first-child {
        margin-bottom: 0;
    }

    #skills > div.exp-infos.color-white > div:nth-child(3) {
        margin-bottom: 1rem;
    }

    .illustration {
        display: none !important;
    }

    #title {
        justify-content: center;
    }

    #title-wrapper {
        font-size: 80%;
    }

    .small-separator {
        width: 1rem;
    }
}